---
import { Formatter } from '@utils/formatter'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props

const slug = post.slug
const { image, title, description, date } = post.data
---

<div class="lg:flex">
  <Image
    loading="lazy"
    width={500}
    height={500}
    class="h-56 w-full rounded-lg object-cover lg:w-64"
    src={image}
    alt={title}
  />

  <div class="flex flex-col justify-between py-6 lg:mx-6">
    <a href={`/posts/${slug}`} class="text-xl font-semibold text-white hover:underline">
      {description}
    </a>

    <span class="text-sm text-gray-500 dark:text-gray-300">{Formatter.formatDate(date)}</span>
  </div>
</div>

<style></style>
